span {
    transition: all 1.5s ease;
  }

  html, body {
    transition: all 2s ease;
    height: 100%;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    font-family: arial;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .nav-section {
      transition: all 1.5s ease;
  }

  ::-webkit-scrollbar {
    display: none;
}


/* slide styling */

.slide {
    height: 100%;
    position: relative;
  }

  #slide1 {background:linear-gradient(rgba(255, 0, 0, 0) 0%, rgb(255, 255, 255) 50%);}
  #slide2 {background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);} 
  #slide3 {background-image: url("/pics/tools.jpg"); background-attachment: fixed;} 
  #slide4 {background-color: #d9d9d9;
    background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);}
  #slide5 {background: #000000; height: 0% !important;}

  .div-section {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-position: center;
  }